body{
    background: #f7f7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    opacity: .8;
    background-position: center;
    text-align: center;
}
#container-flix{
    background: #469;
    color: #fff;
    padding: 20px;
    margin: 8% 30%;
    border-radius: 10px;
    box-shadow: #000 .6;
}
.header-wrapper{
    text-transform: capitalize;
    font-size: 20px;
}
.mass-label{
    margin: 4px 0;
}
.btn{
    border: none;
    padding: 6px 12px;
    margin-top: 5px;
    background: #621;
    color: #fff;
    outline:none;
    font-size: 16px;
}